*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

:root {
  --main-bg-color: #020225f3;
  --sec-bg-color: #022131;
  --turq-surf: #00b4d8;
  --frost-blue: #90e0ef;
  --font-color: white;
}

body {
  background-color: var(--main-bg-color);

  /* TODO: Fix the screen tear in the gradient */
  background-image: linear-gradient(
    to right bottom,
    var(--main-bg-color) 0%,
    #020627 14.3%,
    #020b28 28.6%,
    #020f2a 42.9%,
    #02142c 57.1%,
    #02182e 71.4%,
    #021d2f 85.7%,
    var(--sec-bg-color) 100%
  );
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
}

.above-nav-blur {
  position: fixed;
  top: 0;
  width: 1000px;
  height: 20px;
  background-color: transparent;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.nav-wrapper {
  background-color: hsl(216.3, 51.4%, 29%, 0.75);
  background: linear-gradient(
    to right,
    hsla(216, 52%, 45%, 0.75),
    hsla(217, 82%, 28%, 0.75)
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  position: fixed;
  top: 0;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(87, 233, 243, 50%);
  border-radius: 10px;
  max-width: 100%;
  width: 1000px;
  height: 65px;
  font-size: 1rem;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5%;
  margin-top: 6rem;
  background-color: #052a55;
  background: radial-gradient(circle, var(--frost-blue), var(--main-bg-color));
  border-radius: 15px;
}

.intro-container-image {
  height: 200px;
  max-width: 100%;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.intro-container-name-text {
  font-size: 30px;
  font-weight: 800;
  padding: 1rem;
}

.valued-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0 5rem 0rem;
  text-wrap: nowrap;
  font-size: 1rem;
  font-weight: 700;
}

.chrome-text {
  background: linear-gradient(
    to left,
    #8a8a8a 0%,
    #b0b0b0 12%,
    #f5f5f5 25%,
    #ffffff 32%,
    #c9c9c9 42%,
    #8a8a8a 50%,
    #eaeaea 60%,
    #ffffff 68%,
    #b0b0b0 82%,
    #8a8a8a 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 1em;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a:hover {
  color: bisque;
}

.nav1 {
  font-size: 20px;
  font-weight: 500;
  opacity: 90%;
  margin-left: 32px;
  margin-right: auto;
  white-space: nowrap;
  min-width: 0;
}

.nav-item {
  margin: 0px 1em;
  opacity: 60%;
}

/* TODO: Add drop down navigation for smaller screens */
@media (max-width: 1000px) {
  .valued-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 3%;
  }
  .chrome-text {
    padding: 0.5rem;
  }
}

@media (max-width: 700px) {
  .intro-container-image {
    width: 250px;
    height: 250px;
    margin: 5% 0 5% 0;
  }
}

@media (max-width: 600px) {
  .link-wrapper {
    display: none;
  }

  .valued-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .valued-items {
    grid-template-columns: 1fr;
  }
}
