*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #020225f3;
  --sec-bg-color: #022131;
  --turq-surf: #00b4d8;
  --frost-blue: #90e0ef;
  --font-color: white;
}

body {
  background-color: var(--main-bg-color);

  /* TODO: Fix the screen tear in the gradient */
  background-image: linear-gradient(
    to right bottom,
    var(--main-bg-color) 0%,
    #020627 14.3%,
    #020b28 28.6%,
    #020f2a 42.9%,
    #02142c 57.1%,
    #02182e 71.4%,
    #021d2f 85.7%,
    var(--sec-bg-color) 100%
  );
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.nav-wrapper {
  background-color: hsl(216.3, 51.4%, 29%, 0.75);
  background-image: linear-gradient(to right, hsla(216, 52%, 39%, 0.75), hsl(217.3, 82.2%, 17.6%, 0.75));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  position: fixed;
  top: 0;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(87, 233, 243, 50%);
  border-radius: 10px;
  max-width: 100%;
  width: 1000px;
  height: 65px;
  font-size: 1rem;
}

.content-spacer {
  height: 80px;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 1em;
}

a {
  all: unset;
  cursor: pointer;
}

a:hover {
  color: bisque;
}

.nav1 {
  font-size: 20px;
  font-weight: 500;
  opacity: 90%;
  margin-left: 32px;
  margin-right: auto;
  white-space: nowrap;
  min-width: 0;
}

.nav-item {
  margin: 0px 1em;
  opacity: 60%;
}

#experience,
#about,
#contact {
  padding-top: 75px;
}

/* TODO: Add drop down navigation for smaller screens */
@media (max-width: 600px) {
  .link-wrapper {
    display: none;
  }
}
